* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

:root {
  --blackColor: #000;
  --whiteColor: #fff;
  --darkWhite: #EEF1FF;
  --fontSizeLarge: 32px;
  --fontSizeMedium: 20px;
  --fontSizeSmall: 12px;
  --defaultGap: 10px;
  --defaultBoxShadow: 0px 7px 30px -4px rgba(0,0,0,0.75);
}

.header--container {
  display: flex;
  background-color: var(--blackColor);
  color: var(--whiteColor);
  height: 10vh;
  font-size: var(--fontSizeLarge);
  padding-left: 20px;
  align-items: center;
}

.main--container {
  display: flex;
  gap: var(--defaultGap);
  height: calc(100vh - 10vh);
  padding: 20px;
}

.list {
  background-color: var(--darkWhite);
  width: 70%;
  box-shadow: var(--defaultBoxShadow);
}

.list--box {
  background-color: pink;
  margin: 10px;
  height: calc(100% - 20px);
}

.todo--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: aqua;
  height: 10%;
  gap: 40px;
}

.todo--body {
  background-color: green;
  height: 90%;
}

.todo--searchbar{
  width: 60%;
}

.todo--searchbar input {
  width: 100%;
  padding: 5px 15px;
  background-color: transparent;
  border: none;
  outline: 1px solid var(--blackColor);
  border-radius: 15px;
}

.list--priority__box {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.list--priority {
  background-color: var(--blackColor);
  color: var(--whiteColor);
  padding: 5px 15px;
  cursor: pointer;
  border-radius: 15px;
}

.form {
  background-color: var(--darkWhite);
  flex: 1;
  box-shadow: var(--defaultBoxShadow);
}

.form--box {
  background-color: pink;
  margin: 10px;
  height: calc(100% - 20px);
}