* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

:root {
  --blackColor: #000;
  --whiteColor: #fff;
  --darkWhite: #EEF1FF;
  --fontSizeLarge: 32px;
  --fontSizeMedium: 20px;
  --fontSizeSmall: 14px;
  --defaultGap: 10px;
  --defaultBoxShadow: 0px 7px 30px -4px rgba(0,0,0,0.75);
}

button {
  background-color: transparent;
  padding: 8px 15px;
  border: none;
  background-color: var(--blackColor);
  color: var(--whiteColor);
  border-radius: 4px;
  cursor: pointer;
}

.header--container {
  display: flex;
  background-color: var(--blackColor);
  color: var(--whiteColor);
  height: 10vh;
  font-size: var(--fontSizeLarge);
  padding-left: 20px;
  align-items: center;
  font-weight: 700;
}

.main--container {
  display: flex;
  gap: var(--defaultGap);
  height: calc(100vh - 10vh);
  padding: 20px;
  overflow-y: scroll;
}

.list {
  background-color: var(--darkWhite);
  width: 70%;
  box-shadow: var(--defaultBoxShadow);
  height: 600px;
}

.list--box {
  margin: 10px;
  height: calc(100% - 20px);
}

.todo--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10%;
  gap: 40px;
}

.todo--body {
  border-top: 1px solid var(--blackColor);
  height: 90%;
}

.todo--searchbar{
  width: 60%;
}

.todo--searchbar input {
  width: 100%;
  padding: 8px 15px;
  background-color: transparent;
  border: none;
  outline: 1px solid var(--blackColor);
  border-radius: 15px;
}

.list--priority__box {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.list--priority {
  background-color: var(--blackColor);
  color: var(--whiteColor);
  padding: 5px 15px;
  cursor: pointer;
  border-radius: 15px;
}

.form {
  background-color: var(--darkWhite);
  flex: 1;
  box-shadow: var(--defaultBoxShadow);
  height: 600px;
}

.form--box {
  margin: 10px;
  height: calc(100% - 20px);
}

.form--details {
  margin-bottom: 25px;
}

.form--details label {
  display: none;
}

.form--details input {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--blackColor);
  font-size: var(--fontSizeSmall);
  padding: 5px 15px;
  outline: none;
  background-color: transparent
}

.form--details textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--blackColor);
  font-size: var(--fontSizeSmall);
  padding: 5px 15px;
  outline: none;
  background-color: transparent
}

.form--details select {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--blackColor);
  font-size: var(--fontSizeSmall);
  padding: 5px 15px;
  outline: none;
  background-color: transparent;
  margin-bottom: 35px;
}

.form--btns__container {
  display: flex;
  gap: var(--defaultGap);
}

.form--btn {
  background-color: var(--blackColor);
  outline: none;
  border: none;
  padding: 10px 25px;
  color: var(--whiteColor);
  border-radius: 5px;
  cursor: pointer;
}

.card {
  height: 100%;
  overflow-y: scroll;
}

.card ul li{
  display: flex;
  flex-direction: column;
  gap: var(--defaultGap);
  list-style: none;
  margin: 20px;
  background-color: yellowgreen;
  padding: 10px;
}

.card--btns {
  display: flex;
  gap: var(--defaultGap);
}

.card--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 0) and (max-width: 1200px) {
  .main--container {
    flex-direction: column;
  }

  .list {
    width: 100%;
    min-height: 400px;
  }
}